* {
    font-family: 'Montserrat' sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 24px -100px 50px 60px;/* Margem de atalho para não digitar a quantidade de margem como acima*/
    /*margin:        47px        0         21px            42px*/
    /*M.relógio       12h       15h        18h             21h  */ 
    /* Margem         TOP      Right       booton          left  */
    /* Margem        TOPO     Direita     Inferior       Esquerda  */
}

.menu {
    margin-bottom: 30px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #9b9d9c;
    cursor: pointer;
    margin-right: 23px;
}

.link-header:hover {
    color: #515151;
    cursor: pointer;
}

.button-header {
    background: #665ae1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none; /* Deixar sem borda no botão*/
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    cursor: pointer;
}

.button-header:hover {    
    background: green;
    cursor: pointer;
}

.logo-we-car {
    position:fixed;
    left: 750px;
    top:120px;
}

.logo-image {
    width: 468px;
    height: 400px;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 450px;
    margin-top: 22px;
    margin-bottom: 40px;
}

.button-main {
    background: #ADFF00;
    border-radius: 30px;
    width: 339;
    height: 64;
    cursor: pointer;
    filter: drop-shadow(8px 4px 4px rgba(0,0,0,0.25));
    font-family: Montserrat;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0%;
    color: #000000;
    padding: 5px;
    position: relative;
    left: 150px;


}

.button-main:hover {    
    opacity: 0.9;
    cursor: pointer;
}

